In [15]:
import pandas as pd
import numpy as np
import sklearn
from sklearn.model_selection import train_test_split

In [16]:
data = pd.read_csv('MovieLens_clean.csv', index_col = 0)

In [17]:
data.head()

,user_id,item_id,rating,rating_timestamp,title,(no genres listed),Action,Adventure,Animation,Children,...,Mystery,Romance,Sci-Fi,Thriller,War,Western,imdb_id,tmdb_id,tag,timestamp
0,1,1,4.0,964982703,Toy Story (1995),0,0,1,1,1,...,0,0,0,0,0,0,114709,862.0,1543,NaN
1,1,3,4.0,964981247,Grumpier Old Men (1995),0,0,0,0,0,...,0,1,0,0,0,0,113228,15602.0,1543,NaN
2,1,6,4.0,964982224,Heat (1995),0,1,0,0,0,...,0,0,0,1,0,0,113277,949.0,1543,NaN
3,1,47,5.0,964983815,Seven (a.k.a. Se7en) (1995),0,0,0,0,0,...,1,0,0,1,0,0,114369,807.0,1543,NaN
4,1,50,5.0,964982931,"Usual Suspects, The (1995)",0,0,0,0,0,...,1,0,0,1,0,0,114814,629.0,1543,NaN

In [18]:
pd.isnull(data).sum()

user_id                   0
item_id                   0
rating                    0
rating_timestamp          0
title                     0
(no genres listed)        0
Action                    0
Adventure                 0
Animation                 0
Children                  0
Comedy                    0
Crime                     0
Documentary               0
Drama                     0
Fantasy                   0
Film-Noir                 0
Horror                    0
IMAX                      0
Musical                   0
Mystery                   0
Romance                   0
Sci-Fi                    0
Thriller                  0
War                       0
Western                   0
imdb_id                   0
tmdb_id                  13
tag                       0
timestamp             99201
dtype: int64

In [19]:
data.dtypes

user_id                 int64
item_id                 int64
rating                float64
rating_timestamp        int64
title                  object
(no genres listed)      int64
Action                  int64
Adventure               int64
Animation               int64
Children                int64
Comedy                  int64
Crime                   int64
Documentary             int64
Drama                   int64
Fantasy                 int64
Film-Noir               int64
Horror                  int64
IMAX                    int64
Musical                 int64
Mystery                 int64
Romance                 int64
Sci-Fi                  int64
Thriller                int64
War                     int64
Western                 int64
imdb_id                 int64
tmdb_id               float64
tag                     int64
timestamp             float64
dtype: object

In [22]:
fe_col_x = ['user_id', 'item_id', 'rating_timestamp',
       '(no genres listed)', 'Action', 'Adventure', 'Animation', 'Children',
       'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy', 'Film-Noir',
       'Horror', 'IMAX', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller',
       'War', 'Western', 'imdb_id', 'tag']
col_y = ['rating']

In [23]:
data_x = data[fe_col_x]
data_y = data[col_y]

In [24]:
train_x, test_x, train_y, test_y = train_test_split(data_x, data_y, test_size = 0.2)

## GBR

In [28]:
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.metrics import mean_squared_error

est = GradientBoostingRegressor(
    n_estimators=100, learning_rate=0.01, max_depth=1, random_state=0,
    loss='squared_error'
).fit(train_x, train_y)
mean_squared_error(test_y, est.predict(test_x))

/Users/haowenwang/opt/anaconda3/lib/python3.9/site-packages/sklearn/ensemble/_gb.py:494: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

1.0787017060676407

## Lasso

In [34]:
from sklearn import linear_model
reg = linear_model.Lasso(alpha=0.001)
reg.fit(train_x, train_y)

mean_squared_error(test_y, reg.predict(test_x))

1.0475363370292343